{% extends "template.html" %}

{% block content %}

<img src="{{ playlist.images.0.url }}" width="200" height="200">

{% if playlist.public %}
    <h5>PUBLIC PLAYLIST</h5>
{% else %}
    <h5>PRIVATE PLAYLISt</h5>
{% endif %}

<h1>{{ playlist.name }}</h1>

<h3>{{ current_users_profile.display_name }} &#8226 {{ playlist.tracks.total }} songs</h3>

<h1>TRACKS</h1>

{% set seen_tracks, duplicate_tracks = [], [] %}

{% for item in playlist_items %}

    {% if {"uri": item.track.uri} in seen_tracks %}
        {% set duplicate_tracks = duplicate_tracks.append({"uri": item.track.uri}) %}
    {% else %}
        {% set seen_tracks = seen_tracks.append({"uri": item.track.uri}) %}
    {% endif %}

    <div>
        {{ item.track.name }}
    </div>
{% endfor %}

<h1>DUPLICATE TRACKS</h1>

{% set duplicate_tracks = {"tracks": duplicate_tracks} %}

<div>
    {{ duplicate_tracks }}
</div>

<div>
    <a href="{{ url_for('delete_duplicate_tracks', playlist_id = playlist.id) }}">Delete Duplicate Tracks</a>
</div>

{% endblock %}